body,
html,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  min-height: 100%;
}

.table-statistics {
  font-size: 16px;
}

.home-content p {
  display: grid;
  font-size: 14px;
}

.author-date {
  border-left: 4px solid grey;
  padding: 0 1rem;
  margin-bottom: 10px;
  font-size: 10px;
}

.container {
  padding-top: 10rem;
}

.row .column.column-offset-5 {
  margin-left: 5%;
}

.footer {
  text-align: center;
  color: white;
  background-color: #424141;
  padding: 5rem;
}

.error-msg {
  color: red;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}


.media {
  display: inline-block;
  padding: 0;
  margin: 0 1rem 0 0;
}

.media-thumbnail {
  box-shadow: .5rem .5rem 1rem grey;
}

.media-caption {
  text-align: left;
  margin-bottom: 1rem;
  width: 228px;
}


